{# templates/todos/list-item.pug #}
<li class="collection-item">
    <p class="flow-text">
        <i class="material-icons left blue-text">build</i>
        {{ todo.description() }}
        <a href="#remove-modal{{ todo.id() }}" class="modal-trigger">
            <i class="material-icons right red-text">delete</i>
        </a>
        <a href="#edit-modal{{ todo.id() }}" class="modal-trigger">
            <i class="material-icons right yellow-text text-darken-2">edit</i>
        </a>
    </p>

    <div id="remove-modal{{ todo.id() }}" class="modal">
        <div class="modal-content">
            <h5>Are you sure you want to delete this todo?</h5>
            <blockquote>{{ todo.description() }}</blockquote>
        </div>
        <div class="modal-footer">
            <form method="POST" action="/todos/remove/{{ todo.id() }}">
                <button type="submit" class="waves-effect waves-green btn-flat">
                    <i class="material-icons left red-text">delete</i>
                    Agree
                </button>
            </form>
        </div>
    </div>

    <div id="edit-modal{{ todo.id() }}" class="modal">
        <form action="/todos/edit/{{ todo.id() }}" method="POST">
            <div class="modal-content">
                <h5>Edit Todo content</h5>
                <textarea class="materialize-textarea" name="description">{{ todo.description() }}</textarea>
            </div>
            <div class="modal-footer">
                <button type="submit" class="waves-effect waves-green btn-flat">
                    <i class="material-icons left blue-text">save</i>
                    Save
                </button>
            </div>
        </form>
    </div>
</li>
